body h1 {
    font-size: 5rem ;
    padding-top: 20px;
}

.principal-container{
margin: 100px auto;
width: 80%;
height: 60vh;
border-radius: 30px;
background: url(../images/gandalf.jpg);
background-size: 100% 77%;
background-position: bottom ;
background-repeat: no-repeat;
border: 5px solid rgb(194, 194, 194);

}

.title-container {
    background: rgba(11, 20, 59, 0.629);
    height: 23%;   
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    -webkit-text-stroke: 0.1px rgba(175, 141, 29, 0.701); 
    font-size: 2rem;

        select{
            cursor: pointer;
            padding: 1rem 1rem;
            border-radius: 15px;
            font-family: $font1;
            font-size: 2rem;
            color: orange;
            background-color: rgb(12, 3, 43);
        }
            option {
                cursor: pointer;
                border-radius: 30px;
            }
}